@keyframes print {
	0% { height: 50vh; }
	100% { height: 0em; }
}

@keyframes scanlines {
	0% { transform: translate(0px, 16px) }
	100% { transform: translate(0px, 0px) }
}

html {
	background-color: #000;
}

body {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
	border: 1em solid #000;
	border-radius: 5rem;
}

#wrapper {
	display: flex;
	flex-direction: column;
	font-family: monospace;
	font-size: 1.5rem;
	gap: 1em;
	position: relative;
}

#print {
	animation: print 1s linear;
	background-color: #fff;
	width: 50vw;
	height: 0vh;
	position: absolute;
	bottom: 0;
}

#scanlines {
	top: 0;
	left: 0;
	opacity: .05;
	height: 100vh;
	width: 100vw;
	position: absolute;
	animation: scanlines 0.5s linear infinite;
	will-change: transform;
	background: url(data:image/gif;base64,R0lGODlhBAAQAIABAAAAAP///yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAAEABAAAAIKhI8Jwe0Po5ytAAA7);
	pointer-events: none;
}

a {
	color: black;
	text-decoration: none;
}
