html,
body,
main {
	height: 100%;
	overflow: hidden;
}

.bubble {
	background-color: #000;
	border-radius: 50%;
	display: block;
	height: 10px;
	position: absolute;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	width: 10px;
}
